<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-color: aquamarine;
    }

    .vartext{
        color: rgb(215, 49, 49);
    }

    </style>
</head>
<body>
    <h1 class="vartext">VARIABLE.HTML</h1>
    <!-- <h1>VARIABLE.HTML</h1> -->
    <h2>His First name is {{first_name}} and his Last name is {{last_name}}</h2>
    <h2>{{some_list}} and {{some_dict}}</h2>
</body>
</html>